@{

    string[] TableHeaders = new string[]
    {
                "ID",
                "Nome",
                "Aniversário",
                "Estado Civil",
                "Gênero ",
                "Email",
                "Ocupação",
                "Endereço",
                "Telefone"
            };
}
<h1>Customers</h1>
<table class="table table-hover">
    <thead>
        <tr>
            @{
                foreach (var head in TableHeaders)
                {
                    <th scope="col">
                        @head
                    </th>
                }

            }
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                    <tr>
                        <td>@Data.CustomerKey</td>
                        <td>@Data.FirstName, @Data.MiddleName, @Data.LastName</td>
                        <td>@Data.BirthDate</td>
                        <td>@Data.MaritalStatus</td>
                        <td>@Data.Gender</td>
                        <td>@Data.EmailAddress</td>
                        <td>@Data.EnglishOccupation</td>
                        <td>@Data.AddressLine1</td>
                        <td>@Data.Phone</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>