@{
    ViewData["Title"] = "Home page";
    string[] TableHeaders = new string[]
    {
        "CustomerKey",
        "FirstName",
        "MiddleName",
        "LastName",
        "BirthDate",
        "MaritalStatus",
        "Gender",
        "EmailAddress",
        "FrenchOccupation",
        "AddressLine1",
        "Phone"
    };
}
<h1>Customers</h1>
<table class="table">
    <thead>
        <tr>
            @{
                foreach (var head in TableHeaders)
                {
                    <th scope="col">
                        @head
                    </th>
                }

            }
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                <tr>
                    <td>@Data.CustomerKey</td>
                    <td>@Data.FirstName</td>
                    <td>@Data.MiddleName</td>
                    <td>@Data.LastName</td>
                    <td>@Data.BirthDate</td>
                    <td>@Data.MaritalStatus</td>
                    <td>@Data.Gender</td>
                    <td>@Data.EmailAddress</td>
                    <td>@Data.FrenchOccupation</td>
                    <td>@Data.AddressLine1</td>
                    <td>@Data.Phone</td>
                </tr>
                }
            }
        }
    </tbody>
</table>