@{
    string[] TableHeaders = new string[]
    {
        "ID",
        "Chave do Produto",
        "Nome",
        "Categoria do Produto",
        "Sub Categoria",
        "Color",
        "Descrição",
        "Tamanho",
        "Preço",
        "Data Início",
        "Data Final",
        "Status",
        "Foto"
    };
}
<h1>Products</h1>
<table class="table table-hover">
    <thead>
        <tr>
            @{
                foreach (var head in TableHeaders)
                {
                    <th scope="col">
                        @head
                    </th>
                }

            }
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                <tr>
                    <td>@Data.ProductKey</td>
                    <td>@Data.ProductAlternateKey</td>
                    <td>@Data.EnglishProductName</td>
                    <td>@Data.EnglishProductCategoryName</td>
                    <td>@Data.EnglishProductSubcategoryName</td>
                    <td>@Data.Color</td>
                    <td>@Data.EnglishDescription</td>
                    <td>@Data.Size</td>
                    <td>@Data.ListPrice</td>
                    <td>@Data.StartDate</td>
                    <td>@Data.EndDate</td>
                    <td>@Data.Status</td>                        
                    @if (Data.LargePhoto != null)
                    {
                    <td>
                        @{
                            var base64 = Data.LargePhoto;
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                    </td>
                }
                </tr>
                }
            }
        }
    </tbody>
</table>